* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*Header div - style's navBar*/
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: purple;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}
.header-right {
  display: flex;
  float: right;
}
.processbtn {
  text-align: center;
}
.processbtn button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 32px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*--navBar div end--*/
/*--Contaier Box style - style's both menu and orderDetail div's--*/

.container {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
/*OrderDetail Div*/
.div1 {
  width: 50%;
  height: 600px;
  float: left;
  overflow-y: auto;
  border-radius: 25px;
  border: 2px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
/*Menu Div*/
.div2 {
  margin-left: 5px;
  width: 48%;
  height: 600px;
  overflow-y: auto;
  float: left;
  border-radius: 25px;
  border: 2px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
/*stlyle for mobile and tablet*/
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
}
/*--Buttons--*/
.button {
  height: 50px;
  padding-left: 15px;
  text-align: center;
  padding-top: 12px;
  border-radius: 5px;
}
